

.a{
    text-decoration: none;

}

 
    .button-15 {
      background-image: linear-gradient(#42A1EC, #0070C9);
      border: 1px solid #0077CC;
      border-radius: 4px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      direction: ltr;
      display: block;
      font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 17px;
      font-weight: 400;
      letter-spacing: -.022em;
      line-height: 1.47059;
      min-width: 30px;
      overflow: visible;
      padding: 4px 15px;
      text-align: center;
      vertical-align: baseline;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;



  
    }
    
    .button-15:disabled {
      cursor: default;
      opacity: .3;
    }
    
    .button-15:hover {
      background-image: linear-gradient(#51A9EE, #147BCD);
      border-color: #1482D0;
      text-decoration: none;
    }
    
    .button-15:active {
      background-image: linear-gradient(#3D94D9, #0067B9);
      border-color: #006DBC;
      outline: none;
    }
    
    .button-15:focus {
      box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
      outline: none;
    }
    .selectionButton{
        height: 100px;
        width: 300px;
    }
  
    
    .banner{
        height: 100px;
        width: 100%;
        background-color: #0092DA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    color: white;}

    h1 {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
    }

    p {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }
    h5 {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }
      

      

    .card {
      width: 200px;
      height: 200px;
      display: flex;
      margin-right: 20px;
      margin-bottom: 20px;
      text-align: center;
      cursor: pointer;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-content: flex-start;
    }

.mb-3{
 
  margin: 0px 10px 10px 10px;
}
.centre{
text-align: center;
}
.container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
}
.column{
  width: 33%;


}
